.dashboard1 {
    border-radius: 25px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    display: block;
    height: 400px; 
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.cloud {
    display: block; 
    margin: 0 auto; 
}

.error-message {
    text-align: center;
}